# Target Configuration for R66S (ImmortalWrt Flippy)
CONFIG_TARGET_armsr=y
CONFIG_TARGET_armsr_armv8=y
CONFIG_TARGET_armsr_armv8_DEVICE_generic=y

# Set Firmware Size
CONFIG_TARGET_ROOTFS_PARTSIZE=512

# Firmware Type
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_TARGZ=y